@media (max-width: 1103px) {
  html {
    font-size: 14px;
  }
  /* HEADER */

  .logo {
    width: 6rem;
  }

  .btn-burger {
    display: flex;
  }

  .header-right {
    display: none;
  }

  .navigation-mobile {
    display: grid;
  }

  .navigation-mobile-open {
    right: 0;
  }

  .header-overlay {
    display: block;
    pointer-events: all;
  }

  .header-overlay-hidden {
    opacity: 0;
    pointer-events: none;
  }

  /* PRODUCTS */
  .product-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .product-card {
    padding: clamp(2rem, 6.9vw, 4rem);
  }

  /* INFO */
  .info-bento-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-img {
    grid-column: span 1;
  }

  /* EMAIL */
  .email-content {
    grid-template-columns: 1fr;
  }

  .form-container {
    padding: clamp(2rem, 6.9vw, 4rem);
  }

  .form-img {
    display: block;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }

  .footer-content div:nth-of-type(2) {
    justify-self: end;
  }

  .footer-content div:nth-of-type(3) {
    justify-self: start;
  }
}

@media (max-width: 735px) {
  html {
    font-size: 12px;
  }

  #section--hero {
    margin-bottom: 8rem;
  }

  .section {
    margin-bottom: 8rem;
  }

  .section-heading {
    margin-bottom: 4rem;
  }

  .product-cards-container {
    grid-template-columns: 1fr;
  }

  .product-card,
  .form-container {
    padding: clamp(2rem, 10.1vw, 4rem);
  }

  .info-bento-container {
    grid-template-columns: 1fr;
  }

  .info-img {
    display: none;
  }

  .form-heading {
    margin-bottom: 3rem;
  }

  .input-grid {
    grid-template-columns: 1fr;
  }

  .footer-content {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .footer-content div:nth-of-type(2) {
    justify-self: start;
  }
}
