@media (max-width: 825px) {
  :root {
    --overlay-height: 90vh;
  }

  /* HEADER */

  .header-overlay {
    position: fixed;
    bottom: 0;
    opacity: 0;
    height: var(--overlay-height);
    width: 100vw;
    background-color: #000;
    transition: opacity 500ms ease;
    pointer-events: none;
  }
  .header-overlay-shown {
    opacity: 0.5;
    pointer-events: all;
  }
  .header-right {
    position: fixed !important;
    bottom: 0;
    right: -25rem;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    background-color: #fff;
    height: var(--overlay-height);
    box-shadow: var(--box-shadow-global);
    border-left: 1px solid var(--gray-border);
    padding-inline: 5rem;
    margin-left: auto;
    position: fixed;
    transition: right 500ms ease;
  }
  .nav-shown {
    right: 0rem;
  }
  .btn-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 2.5rem;
  }
}
