@media (max-width: 1230px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 952px) {
  /* HEADER */

  .logo {
    width: 5rem;
  }

  .btn-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 2rem;
  }

  .header-right {
    display: none;
  }

  .navigation-mobile {
    display: grid;
  }

  .navigation-mobile-open {
    right: 0;
  }

  .header-overlay {
    display: block;
    pointer-events: all;
  }

  .header-overlay-hidden {
    opacity: 0;
    pointer-events: none;
  }

  /* HERO */
  #section--hero {
    margin-bottom: 8rem;
  }

  /* PRODUCTS */
  .product-cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .product-card {
    padding: clamp(2rem, 6.9vw, 4rem);
  }

  /* INFO */
  .info-bento-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-img {
    grid-column: span 1;
  }

  /* EMAIL */
  .email-content {
    grid-template-columns: 1fr;
  }

  .form-img {
    display: block;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 698px) {
  .product-cards-container {
    grid-template-columns: 1fr;
  }

  .product-card {
    padding: clamp(2rem, 10.1vw, 4rem);
  }

  .info-bento-container {
    grid-template-columns: 1fr;
  }

  .info-img {
    display: none;
  }

  .input-grid {
    grid-template-columns: 1fr;
  }
}
