/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 1215px) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  #section--hero {
    min-height: 100vh;
  }
  .header-right {
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    right: -25rem;
    width: 25rem;
    min-height: 90vh;
    z-index: 1;
    transition: right 500ms ease;
    box-shadow: var(--box-shadow-global);
    border-left: 1px solid var(--gray-border);

    backdrop-filter: blur(20px);
  }
  .nav-shown {
    right: 0;
  }
  .btn-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 2.5rem;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
