/* ------------------- INITIALIZATION ------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-lightest: #f8f9fa;
  --gray-border: #dee2e6;
  --gray-darkest: #212529;
  --cta-red: #e50019;
}

html {
  font-family: "Roboto Flex", sans-serif;
  color: var(--gray-darkest);
  scroll-behavior: smooth;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

body {
  background-color: var(--gray-lightest);
}

button,
input {
  font: inherit;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
}

.section {
  max-width: 80rem;
  margin-inline: auto;
  margin-bottom: 12rem;
}

.heading--section {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: -1.5px;
  margin-bottom: 4rem;
  word-spacing: 5px;
}

.above-heading {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cta-red);
  letter-spacing: 1px;
  word-spacing: 0.5rem;
  font-weight: 600;
}

::placeholder {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  color: #666;
}

/* -------------------- HEADER -------------------- */

.logo {
  width: 8rem;
}

.header {
  align-content: center;

  min-height: 10vh;
  background-color: var(--gray-lightest);
  border-bottom: 1px solid var(--gray-border);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 6rem;
  margin-inline: auto;
}

.header-nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  color: var(--gray-darkest);
}

.nav-link,
.btn--lang {
  font-weight: 500;
}

.btn--lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* border: 1px solid var(--gray-darkest); */
  border-radius: 0.25rem;
}

.header-content-group {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.btn--header-cta {
  background-color: var(--cta-red);
  color: var(--gray-lightest);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* -------------------- HERO SECTION -------------------- */

.section--hero {
  min-height: 90vh;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("images/MAR02485-Edit.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  margin-bottom: 12rem;
}

.heading-main {
  font-size: 10rem;
  line-height: 0.9;
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--gray-lightest);

  margin-top: auto;
  padding: 6rem;
  line-height: 0.755;
  word-spacing: -5px;
}

.btn--hero-cta {
  font-size: 3rem;
  color: #fff;
  background-color: var(--cta-red);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

/* -------------------- PRODUCTS SECTION -------------------- */

.product-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-card {
  border: #d5d5d5 1px solid;
  border-radius: 8px;
  overflow: hidden;
  padding: 3rem;
  background-color: #fff;
}

.card-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.tags {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag {
  border: 1px solid var(--cta-red);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: var(--cta-red);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card-description {
  line-height: 1.8;
  color: #666;
  margin-bottom: 3rem;
}

.card-bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.time {
  font-weight: 600;
  color: #666;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.card-cta {
  width: 100%;
  padding: 1rem 0;
  color: #f8f9fa;
  background-color: var(--cta-red);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.devider {
  background-color: #d5d5d5;
  width: 1px;
}

/* -------------------- INFO SECTION -------------------- */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card--img,
.card {
  border-radius: 0.5rem;
  border: 1px solid var(--gray-border);
}

.card {
  background-color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--img {
  grid-column: span 2;
}

.heading-card {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-description {
  line-height: 1.6;
  color: #666;
}

.card--cta {
  background-color: var(--cta-red);
  color: var(--gray-lightest);
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-title {
  color: #666;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.stat-value {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 0.25rem;
  margin-bottom: 3rem;
}

/* -------------------- EMAIL SECTION -------------------- */

.heading-form {
  margin-bottom: 1rem;
}

.section--email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--gray-border);
  background-color: #fff;
}

.form-img {
  background-image: url("images/TGB_2.jpeg");
  background-position: center;
  background-size: cover;
}

.form-container {
  padding: 3rem;
}

.form-subheading {
  margin-bottom: 3rem;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #666;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #666;
}

.form-asterisk {
  font-weight: 1000;
  color: var(--cta-red);
}

.textarea-container {
  grid-column: 1 / -1;
}

.form-textarea {
  resize: none;
  min-height: 10rem;
}
