/* ------------------- INITIALIZATION ------------------- */

:root {
  --gray-lightest: #f8f8f8;
  --gray-border: #d0d0d0;
  --gray-light-text: #767676;
  --gray-darkest: #2a2a2a;
  --cta-red: #e50019;
  --cta-hover: #a00012;
  --box-shadow-global: 0 0 0.5rem rgba(0, 0, 0, 0.06);
  --border-radius-btn: 0.25rem;
  --border-radius-card: 0.5rem;
  --mobile-nav-padding: 0;
}

html {
  font-family: "Roboto Flex", sans-serif;
  color: var(--gray-darkest);
  scroll-behavior: smooth;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
div,
p,
a,
span,
label {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

body {
  background-color: var(--gray-lightest);
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}

input,
textarea {
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
}

.section {
  max-width: 90rem;
  margin-inline: auto;
  margin-bottom: 12rem;
  padding-inline: 2rem;
}

.section-heading {
  font-size: 3.5rem;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6rem;
}

.above-heading {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--cta-red);
  letter-spacing: 1px;
  word-spacing: 0.5rem;
  font-weight: 600;
}

::placeholder {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  color: var(--gray-light-text);
}

.section-content {
  transition: translate 1000ms ease, opacity 500ms ease;
}

.section-hidden {
  translate: 0 10rem;
  opacity: 0;
  pointer-events: none;
}

/* -------------------- HEADER -------------------- */

.logo {
  width: 8rem;
}

#header {
  align-content: center;
  background-color: #fff;
  border-bottom: 1px solid var(--gray-border);
  box-shadow: var(--box-shadow-global);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: clamp(2rem, calc(14.29vw - 11.123rem), 6rem);
  padding-block: 1rem;
}

.header-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 4rem;
}

.nav-link {
  color: var(--gray-darkest);
  font-weight: 500;
}

.btn--header-cta {
  background-color: var(--cta-red);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius-btn);
}

.btn-burger {
  display: none;
}

.header-fixed-position {
  position: fixed !important;
  width: 100%;
}

.header-overlay {
  display: none;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  transition: opacity 500ms ease;
  z-index: 1;
}

.navigation-mobile {
  display: none;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  gap: 4rem;
  position: fixed;
  bottom: 0;
  right: -20rem;
  background-color: #fff;
  padding-top: var(--mobile-nav-padding);
  border-left: 1px solid var(--gray-border);
  padding-inline: 5rem;
  margin-left: auto;
  transition: right 500ms ease;
  min-height: 100vh;
  box-shadow: var(--box-shadow-global);
  z-index: 1;
}

/* -------------------- HERO SECTION -------------------- */

#section--hero {
  min-height: 100dvh;
  /* background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("images/MAR02485-Edit.jpg"); */
  background-color: #000;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-bottom: 12rem;
}

.heading-main {
  font-size: clamp(6rem, 8.4vw, 10rem);
  font-weight: 1000;
  text-transform: uppercase;
  color: #fff;
  margin-top: auto;
  padding: clamp(2rem, calc(14.29vw - 11.123rem), 6rem);
  line-height: 0.755;
}

/* -------------------- PRODUCTS SECTION -------------------- */

.product-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-card {
  border: 1px solid var(--gray-border);
  border-radius: var(--border-radius-card);
  overflow: hidden;
  padding: clamp(2rem, 3.4vw, 4rem);
  background-color: #fff;
  box-shadow: var(--box-shadow-global);
}

.product-img {
  margin-bottom: 4rem;
}

.card-heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.tag {
  border: 1px solid var(--cta-red);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-btn);
  color: var(--cta-red);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-description {
  line-height: 1.8;
  color: var(--gray-light-text);
  margin-bottom: 3.5rem;
}

.card-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.time {
  font-weight: 600;
  color: var(--gray-light-text);
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.devider {
  background-color: var(--gray-border);
  width: 1px;
}

.btn-card-cta {
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  background-color: var(--cta-red);
  border-radius: var(--border-radius-btn);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

/* -------------------- INFO SECTION -------------------- */

.info-bento-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.info-img {
  grid-column: span 2;
  border-radius: var(--border-radius-card);
}

.info-card {
  align-content: center;
}

.info-icon-and-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.info-heading {
  margin-bottom: 0;
}

.info-icon {
  color: #fff;
  font-size: 1.5rem;
  background-color: var(--cta-red);
  padding: 0.5rem;
  border-radius: var(--border-radius-btn);
}

.info-link {
  color: var(--cta-red);
  font-weight: 600;
}

.info-description {
  margin-bottom: 4rem;
}

/* -------------------- EMAIL SECTION -------------------- */

.email-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: var(--border-radius-card);
  overflow: hidden;
  border: 1px solid var(--gray-border);
  background-color: #fff;
  box-shadow: var(--box-shadow-global);
}

.form-img-container {
  /* background-image: url("images/TGB_2.jpeg"); */
  background-position: center;
  background-size: cover;
}

.form-img {
  display: none;
}

.form-container {
  padding: clamp(2rem, 3.4vw, 4rem);
}

.form-heading {
  margin-bottom: 3rem;
  text-align: left;
}

.form-description {
  margin-bottom: 4rem;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--gray-light-text);
  font-weight: 600;
}

.form-input {
  padding: 0.75rem;
  border-radius: var(--border-radius-btn);
  border: 1px solid var(--gray-light-text);
}

.form-asterisk {
  font-weight: 1000;
  color: var(--cta-red);
}

.textarea-container {
  grid-column: 1 / -1;
}

.form-textarea {
  resize: none;
  min-height: 10rem;
}

/* -------------------- FOOTER -------------------- */

.footer {
  background-color: #000;
  color: #fff;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 98rem;
  margin-inline: auto;
  padding: 6rem;
  border-bottom: 0.5px solid var(--gray-darkest);
}

.footer-content div:nth-of-type(2) {
  justify-self: center;
}

.footer-content div:nth-of-type(3) {
  justify-self: end;
}

.footer-heading {
  margin-bottom: 2.5rem;
}

.footer-copy {
  color: var(--gray-light-text);
  text-align: center;
  padding: 4rem;
}

.footer-links {
  display: grid;
  gap: 1.5rem;
}

.footer-link {
  color: var(--gray-light-text);
  max-width: fit-content;
}

/* -------------------- EFFECTS -------------------- */

.nav-link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--cta-red);
    scale: 0 1;
    transform-origin: right;
    transition: scale 500ms ease;
  }
  &:hover::after {
    scale: 1 1;
    transform-origin: left;
  }
}

.btn--header-cta,
.btn-card-cta {
  transition: background-color 250ms ease, box-shadow 250ms ease;
  &:hover {
    background-color: var(--cta-hover);
    box-shadow: var(--box-shadow-global);
  }
}

.product-card {
  transition: translate 500ms ease, scale 500ms ease;
  &:hover {
    translate: 0 -0.5rem;
    scale: 1.02;
  }
}

.form-input {
  transition: box-shadow 250ms ease, border-color 250ms ease;
  outline: none;
  &:focus {
    border-color: var(--cta-red);
    box-shadow: 0 0 0 1px var(--cta-red);
  }
}

.footer-link {
  transition: color 250ms ease;
  &:hover {
    color: #fff;
  }
}
